.upload-file-container {
    width: 60%;
    height: 210px;
    margin-top: 100px;
    float: left;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.upload-file-droparea {
    width: 100%;
    height: 100%;
    border: dashed 1px #007da4;
    padding: 50px;
    text-align: center;
    cursor: copy;
}

.upload-icon span {
    font-size: 30px;
    color: #007da4;
}

.upload-file-text {
    font-size: 16px;
    color: #000000;
}

.fileupload-dialog-text a {
    font-weight: 600;
}
